- @stats = { today: {}, this_week: {}, last_week: {}, this_month: {}, last_month: {}, this_year: {}}

- billable_scope = TicketComment.billable.created_by(user)
- @stats[:today][:billable] = billable_scope.today.sum(:time)
- @stats[:this_week][:billable] = billable_scope.this_week.sum(:time)
- @stats[:last_week][:billable] = billable_scope.last_week.sum(:time) 
- @stats[:this_month][:billable] = billable_scope.this_month.sum(:time) 
- @stats[:last_month][:billable] = billable_scope.last_month.sum(:time) 
- @stats[:this_year][:billable] = billable_scope.this_year.sum(:time) 

- worked_scope = TicketComment.created_by(user)
- @stats[:today][:worked] = worked_scope.today.sum(:time)
- @stats[:this_week][:worked] = worked_scope.this_week.sum(:time)
- @stats[:last_week][:worked] = worked_scope.last_week.sum(:time)
- @stats[:this_month][:worked] = worked_scope.this_month.sum(:time)
- @stats[:last_month][:worked] = worked_scope.last_month.sum(:time)
- @stats[:this_year][:worked] = worked_scope.this_year.sum(:time)

%table
	%thead
		%tr
			%th Tiempo
			%th Horas fact
			%th Horas tra
	%tr
		%td(class="bold") Hoy
		%td= number_to_human(@stats[:today][:billable])
		%td= number_to_human @stats[:today][:worked]
	%tr
		%td(class="bold") Esta semana
		%td= number_to_human @stats[:this_week][:billable]
		%td= number_to_human @stats[:this_week][:worked]
	%tr
		%td(class="bold") Última semana
		%td= number_to_human @stats[:last_week][:billable]
		%td= number_to_human @stats[:last_week][:worked]
	%tr
		%td(class="bold") Este mes
		%td= number_to_human @stats[:this_month][:billable]
		%td= number_to_human @stats[:this_month][:worked]	
	%tr
		%td(class="bold") Último mes
		%td= number_to_human @stats[:last_month][:billable]
		%td= number_to_human @stats[:last_month][:worked]
	%tr
		%td(class="bold") Este año
		%td= number_to_human @stats[:this_year][:billable]
		%td= number_to_human @stats[:this_year][:worked]
		
%p
	%strong
		%em
			Esta información es solo para uso interno