= form_tag project_report_view_path, class: "filter_form" do
	%fieldset(class="inputs")
		%legend
			%span Información para el reporte de proyectos
		%ol
			%li(class="input")
				= label_tag :project_id, "Proyecto: "
				= select_tag :project_id, options_from_collection_for_select(@projects, :id, :display_name, params[:project_id])
			%li(class="input filter_form_field filter_date_range")
				= label_tag :start, "Fecha de inicio: "
				= text_field_tag :start, params[:start], class: :datepicker
			%li(class="input filter_form_field filter_date_range")
				= label_tag :end, "Fecha fin"
				= text_field_tag :end, params[:end], class: :datepicker

	= submit_tag "Ver Reporte", class: "noprint"