%table(width="100%")
	%tr
		%td
			%h3(style="margin-bottom:18px;font-size:18px;color:#5E6469;font-weight:normal;")== Ticket ##{@ticket.number} ha sido #{update_or_create_tag_for_version @version }: #{modified_by @ticket}.
	%tr
		%td(style="background:url(#{asset_path 'divider.png'}) repeat-x top left;padding-top:10px;")
				
			- last_comment = @ticket.ticket_comments.last
			- version = Version.find(last_comment.version_id) rescue nil
			- changes = formatted_changeset_for_version version
			- unless changes.empty?
				#changes
					Changes:
					%ul
						- changes.each do |text|
							%li= raw(text)
					= last_comment.body.html_safe rescue nil
													
			%h3.title(style="font-size:16px;font-weight:normal;")= link_to email_qualified_name(@ticket), project_ticket_url(@ticket.project, @ticket), style: "color:#38678B;"
			%ul(style="font-size:12px;")
				%li
					%strong Autor:
					= created_by @ticket
				%li
					%strong Estado:
					= ticket_status @ticket
				%li
					%strong Prioridad:
					= ticket_priority @ticket
				%li
					%strong Delegado:
					= ticket_assignee @ticket
				%li
					%strong Categoría:
					= ticket_category @ticket
				%li
					%strong Hito:
					= ticket_milestone @ticket
				%li
					%strong Facturado():
					= @ticket.billable? ? "SI" : "NO"
	
	%tr
		%td(style="font-size:12px;background:url(#{asset_path 'divider.png'}) repeat-x top left;padding-top:10px;")
			%strong Descripción:
			= raw(@ticket.description)

- content_for :footer do					
	Tu has recibido esta notificación de email porque tu has sido suscrito a las notificaciones para este ticket, o tu estas involucrado en este ticket
	%br/
	Para borrarte de esta lista, por favor borrate de la lista de "Watchers" de este ticket.