<div id="roadmap-budget-numbers">
	<% unless current_admin_user.employee? %>
	<h3><strong><%= number_to_currency @project.actual_time * @project.hourly_rate %> Actual / <%= number_to_currency @project.estimated_time * @project.hourly_rate %> Estimado</strong></h3>
	<% end %>
	
	<h3><strong><%= number_to_human((@project.end_date - Date.today).to_i) rescue 'Desconocido # de' %> Días para terminar</strong></h3>
</div>
<div id="roadmap-title-info">
	<h2>Roadmap: <%= truncate @project.display_name, length: 30 %></h2>
	<h3><strong><%= @project.actual_time %> Actual / <%= @project.estimated_time %> Estimado / <%= @project.billable_time %> Facturado</strong></h3>
</div>
<div class="cleared"></div>

<div class="project-milestone">
	<h3 class="milestone">Vida del proyecto</h3>
	
	<em>Progreso de Tickets</em>
	<%= project_progress_indicator(@project) %>
	<p><strong><%= @project.tickets.overdue.count %> Atrasado / <%= @project.tickets.active.count %> Abiero / <%= @project.tickets.closed.count %> Cerrado</strong></p>
	
	<em>Progreso del presupuesto</em>
	<%= project_budget_progress_indicator(@project) %>
	<p><strong><%= @project.actual_time %> Actual / <%= @project.estimated_time %> Estimado</strong></p>
	
	<em>Facturado vs No-facturado</em>
	<%= billable_progress_indicator(@project) %>
	<p><strong><%= @project.billable_time %> Facturado / <%= @project.non_billable_time %> No-Facturado / <%= @project.actual_time %> Tiempo total gastado</strong></p>
	
</div>

<% milestones = @project.milestones.overdue %>
<% unless milestones.count == 0 %>
	<h3>Hitos atrasados (<%= milestones.count %>)</h3>
	<%= content_tag 'table', :for => @project do %>
		<%= render :partial => "projects/roadmap/milestone", :collection => milestones  %>
	<% end %>
<% end %>

<% milestones = @project.milestones.active %>
<% unless milestones.count == 0 %>
	<h3>Hitos abiertos (<%= milestones.count %>)</h3>
	<%= content_tag 'table', :for => @project do %>
		<%= render :partial => "projects/roadmap/milestone", :collection => milestones  %>
	<% end %>
<% end %>

<% @project.milestones.each do |milestone| %>
	<div class="project-milestone">
		<h3 class="milestone"><%= milestone.name %> <%= '(%s)' % milestone.safe_end_date %></h3>
		<%= render :partial => 'milestones/roadmap/roadmap', :locals => { :milestone => milestone } %>
	</div>
<% end %>